.grid {
  justify-items: center;
}

.s-card {
  width: calc(50% - 15px);
  min-width: 170px;
  height: 265px;
  box-shadow: rgba(128, 128, 128, 0.384) 1px 1px 5px;
}

.item-img {
  height: 115px;
}

.item-img img {
  object-fit: contain;
  max-height: 117px;
}
