.shipping-address {
  border: 1px solid #b8b8b829;
  border-radius: 2px;
}

.total {
  font-size: 25px;
}

@media screen and (min-width: 1170px) {
  .devider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }

  form.max-width {
    max-width: 100%;
  }
}
