@keyframes zoom-in-out {
  0% {
    letter-spacing: 2px;
  }

  100% {
    letter-spacing: 1px;
  }
}

@keyframes move-up-down {
  0% {
    transform: translateY(8px);
  }

  10% {
    transform: translateY(5px);
  }

  30% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.cover {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.cover div {
  text-align: center;
  font-size: 75px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.164);
}

.cover h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 55px;
  background-color: rgba(0, 0, 0, 0.582);
  color: #ff9800;
  padding: 10px;
  animation: zoom-in-out 1s alternate-reverse infinite ease-in-out;
}

.long-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
  grid-gap: 15px;
  grid-auto-flow: column;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.long-grid::-webkit-scrollbar {
  display: none;
}

.card {
  width: 65%;
  min-width: 195px;
  height: 265px;
  box-shadow: rgba(128, 128, 128, 0.384) 1px 1px 5px;
  max-width: 200px;
}

.item-img {
  height: 120px;
}

.item-img img {
  object-fit: contain;
  max-height: 120px;
}

.item-info {
  height: 50px;
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.show-all {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 300;
}

.cat-holder {
  max-width: 1170px;
}

.down-btn {
  position: absolute;
  bottom: 50px;
  border-radius: 50%;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.582);
  font-size: 25px;
  animation: move-up-down 1s alternate-reverse infinite ease-in-out;
}

@media screen and (min-width: 468px) {
  .cover h1 {
    font-size: 65px;
  }
}

@media screen and (min-width: 768px) {
  .cover h1 {
    font-size: 100px;
    height: 200px;
  }
}
